.ActionButton {
  margin-bottom: 10px;
}

.App {
  overflow-y: scroll;
}

.ButtonHeader {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
  padding-left: 1em;
}

.card {
  margin-top: 15px;
}

.FullButton {
  width: 100%;
  margin-top: 15px;
}

html {
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
}